<div class="wrapper">
	<div class="map-meta">
		<%= link_to "Download geoJSON", "geojson/tmp.geojson" %>
		<%= link_to "Convert another Shapefile", new_conversion_path, class: 'new-conversion' %>
	</div>
	<div id="mapid" class="map"></div>
	<div class="geojson">
		<pre>
			<%= @beautified_json %>
		</pre>
	</div>
</div>
