/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #EAEAEA;
}

input {
	display: block;
	margin-bottom: 16px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 200px;
	grid-template-areas:
	 ". a a ."
	 ". a a .";
}

.item1 {
	width: 40vw;
	grid-area: a;
	align-self: center;
	justify-self: center;
}
