/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require leaflet
 *= require_self
 *= require_tree .
 */

/* Base styles */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: #FFFFFF;
}

input {
	display: block;
	margin-bottom: 16px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 200px;
	grid-template-areas:
	 ". a a ."
	 ". a a .";
}

/* Form - Shapefile upload */
.shapefile-form {
	width: 30vw;
	grid-area: a;
	align-self: center;
	justify-self: center;
	background-color: #EAEAEA;
	border-radius: 12px;
	padding: 2em;
}

.shapefile-info {
	margin-bottom: 2em;
}

.shapefile-submit {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 16px;
		margin-top: 0.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		border-radius: 12px;
		float: right;
}

/* Map */
#mapid {
	width: 50vw;
	grid-area: a;
	align-self: center;
	justify-self: center;
	background-color: #EAEAEA;
	border-radius: 12px;
	height: 30vw;
	margin-top: 12em;
}

.geojson {
	width: 30vw;
	grid-area: b;
	align-self: center;
	justify-self: center;
	background-color: #EAEAEA;
	border-radius: 12px;
	padding: 2em;
}
